h1{color:navy}

h2{color:azure}

h3{color:navy}

body{background-color:lightblue;
color:navy;

font-family: Arial, Helvetica, sans-serif;
}

.container {width:80%; margin: auto; align: center;}

.box-1 {background-color:navy; color:aliceblue; border: 5px white solid}